$black:#242528;
$gray-light: #F8F8F8;
$gray: #232323;
$pink: #F17682;
$dsg: #009f42;
$red: #ed5d43;
$yellow: #FEE42E;
$yellow-light: lighten($yellow, 21%);
$blue: #009BDE;
$blue-internal: #5d9ab9;
$link: $yellow-light;
$link-hover: darken($link, 15%);
