.intro {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-height: 900px;
  @include center-content();

  @media (max-width: $mobile) {
    padding: 0 $spacer*1.5;
  }

  .headline {
    position: relative;
  }

  &.home .headline {

    span {
      color: $yellow-light;
    }

    h3 {
      color: #FFFFFF;
      font-size: 2vw;
      font-weight: 300;
      margin-top: $spacer;

      @media (max-width: $mobile) {
        font-size: 1.2em;
      }
    }
  }

  .arrow {
    @include arrow(down, $yellow-light);
    animation: fade-in 1s;
    animation-delay: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;

    position: absolute;
    left: $spacer*2.5;
    bottom: $spacer*5;

    @media (max-width: $mobile) {
      left: $spacer*3.5;
      bottom: $spacer*4;
    }
  }
}
