.logo {
  $logo-size: 40px;
  opacity: .45;
  position: absolute;
  top: $logo-size;
  left: $logo-size;
  width: $logo-size;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }

  @media (max-width: $mobile) {
    $logo-size: 24px;
    top: $logo-size;
    left: $logo-size;
    width: $logo-size;
  }
}
